## Preprocessing

In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df1 = application_df.drop(columns=["NAME", "EIN"])
application_df1.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df1.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
counter1 = application_df1["APPLICATION_TYPE"].value_counts()
print(counter1)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = counter1[150:].index
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
counter2 = application_df1["CLASSIFICATION"].value_counts()
print(counter2)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [26]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
counter2[counter2 > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [34]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = counter2[150:].index
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [35]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df2 = pd.get_dummies(application_df1, drop_first= True)
application_df2

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [36]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df2["IS_SUCCESSFUL"].values
x = application_df2.drop(["IS_SUCCESSFUL"],1).values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [38]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [39]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
total_input = len(x_train_scaled[0])
layer1 = 90
layer2 = 40
output = 1

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units = layer1, input_dim = total_input, activation = "relu"))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units = layer2, activation = "relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units = output, activation = "sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 90)                9900

 dense_1 (Dense)             (None, 40)                3640

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 13,581
Trainable params: 13,581
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [41]:
# Train the model
#  YOUR CODE GOES HERE
model1 = nn.fit(x_train_scaled,y_train,validation_split=0.15, epochs=150)

Epoch 1/150
684/684 [==============================] - 7s 7ms/step - loss: 0.5825 - accuracy: 0.7127 - val_loss: 0.5519 - val_accuracy: 0.7380
Epoch 2/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5584 - accuracy: 0.7274 - val_loss: 0.5484 - val_accuracy: 0.7357
Epoch 3/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7271 - val_loss: 0.5399 - val_accuracy: 0.7396
Epoch 4/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7299 - val_loss: 0.5407 - val_accuracy: 0.7401
Epoch 5/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7318 - val_loss: 0.5398 - val_accuracy: 0.7372
Epoch 6/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7306 - val_loss: 0.5399 - val_accuracy: 0.7367
Epoch 7/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7326 - val_loss: 0.5410 - val_accuracy: 0.7409
Epoch 8/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7336 - val_loss: 0.5411 - val_accuracy: 0.7398
Epoch 9/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7330 - val_loss: 0.5420 - val_accuracy: 0.7398
Epoch 10/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7329 - val_loss: 0.5455 - val_accuracy: 0.7398
Epoch 11/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7335 - val_loss: 0.5435 - val_accuracy: 0.7406
Epoch 12/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7345 - val_loss: 0.5419 - val_accuracy: 0.7354
Epoch 13/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7331 - val_loss: 0.5398 - val_accuracy: 0.7403
Epoch 14/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7347 - val_loss: 0.5416 - val_accuracy: 0.7411
Epoch 15/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7341 - val_loss: 0.5457 - val_accuracy: 0.7396
Epoch 16/150
684/684 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7358 - val_loss: 0.5437 - val_accuracy: 0.7391
Epoch 17/150
684/684 [==============================] - 4s 5ms/step - loss: 0.5405 - accuracy: 0.7359 - val_loss: 0.5409 - val_accuracy: 0.7429
Epoch 18/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7359 - val_loss: 0.5420 - val_accuracy: 0.7334
Epoch 19/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7352 - val_loss: 0.5411 - val_accuracy: 0.7422
Epoch 20/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7362 - val_loss: 0.5422 - val_accuracy: 0.7391
Epoch 21/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7356 - val_loss: 0.5447 - val_accuracy: 0.7372
Epoch 22/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7360 - val_loss: 0.5468 - val_accuracy: 0.7375
Epoch 23/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7363 - val_loss: 0.5418 - val_accuracy: 0.7388
Epoch 24/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7367 - val_loss: 0.5466 - val_accuracy: 0.7403
Epoch 25/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7371 - val_loss: 0.5425 - val_accuracy: 0.7378
Epoch 26/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7378 - val_loss: 0.5477 - val_accuracy: 0.7328
Epoch 27/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7371 - val_loss: 0.5436 - val_accuracy: 0.7398
Epoch 28/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7367 - val_loss: 0.5468 - val_accuracy: 0.7383
Epoch 29/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7382 - val_loss: 0.5428 - val_accuracy: 0.7383
Epoch 30/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7385 - val_loss: 0.5453 - val_accuracy: 0.7349
Epoch 31/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7379 - val_loss: 0.5427 - val_accuracy: 0.7388
Epoch 32/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7373 - val_loss: 0.5419 - val_accuracy: 0.7383
Epoch 33/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7376 - val_loss: 0.5439 - val_accuracy: 0.7383
Epoch 34/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7385 - val_loss: 0.5462 - val_accuracy: 0.7370
Epoch 35/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7382 - val_loss: 0.5438 - val_accuracy: 0.7398
Epoch 36/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7383 - val_loss: 0.5436 - val_accuracy: 0.7388
Epoch 37/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7394 - val_loss: 0.5445 - val_accuracy: 0.7411
Epoch 38/150
684/684 [==============================] - 3s 5ms/step - loss: 0.5355 - accuracy: 0.7391 - val_loss: 0.5454 - val_accuracy: 0.7372
Epoch 39/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7382 - val_loss: 0.5484 - val_accuracy: 0.7370
Epoch 40/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7386 - val_loss: 0.5475 - val_accuracy: 0.7388
Epoch 41/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7388 - val_loss: 0.5470 - val_accuracy: 0.7349
Epoch 42/150
684/684 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7388 - val_loss: 0.5440 - val_accuracy: 0.7380
Epoch 43/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7387 - val_loss: 0.5447 - val_accuracy: 0.7396
Epoch 44/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7385 - val_loss: 0.5475 - val_accuracy: 0.7367
Epoch 45/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7387 - val_loss: 0.5479 - val_accuracy: 0.7370
Epoch 46/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7386 - val_loss: 0.5463 - val_accuracy: 0.7365
Epoch 47/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7389 - val_loss: 0.5464 - val_accuracy: 0.7391
Epoch 48/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7393 - val_loss: 0.5471 - val_accuracy: 0.7378
Epoch 49/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7397 - val_loss: 0.5511 - val_accuracy: 0.7372
Epoch 50/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7405 - val_loss: 0.5485 - val_accuracy: 0.7391
Epoch 51/150
684/684 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7401 - val_loss: 0.5463 - val_accuracy: 0.7391
Epoch 52/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7387 - val_loss: 0.5471 - val_accuracy: 0.7391
Epoch 53/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7402 - val_loss: 0.5493 - val_accuracy: 0.7388
Epoch 54/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7406 - val_loss: 0.5556 - val_accuracy: 0.7375
Epoch 55/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7393 - val_loss: 0.5502 - val_accuracy: 0.7380
Epoch 56/150
684/684 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7405 - val_loss: 0.5522 - val_accuracy: 0.7380
Epoch 57/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7394 - val_loss: 0.5460 - val_accuracy: 0.7393
Epoch 58/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7402 - val_loss: 0.5486 - val_accuracy: 0.7383
Epoch 59/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7402 - val_loss: 0.5547 - val_accuracy: 0.7367
Epoch 60/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7400 - val_loss: 0.5518 - val_accuracy: 0.7385
Epoch 61/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7409 - val_loss: 0.5527 - val_accuracy: 0.7365
Epoch 62/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7406 - val_loss: 0.5546 - val_accuracy: 0.7349
Epoch 63/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7406 - val_loss: 0.5503 - val_accuracy: 0.7357
Epoch 64/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7407 - val_loss: 0.5541 - val_accuracy: 0.7383
Epoch 65/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7406 - val_loss: 0.5506 - val_accuracy: 0.7375
Epoch 66/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7408 - val_loss: 0.5511 - val_accuracy: 0.7370
Epoch 67/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7415 - val_loss: 0.5533 - val_accuracy: 0.7378
Epoch 68/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7403 - val_loss: 0.5539 - val_accuracy: 0.7375
Epoch 69/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7404 - val_loss: 0.5543 - val_accuracy: 0.7365
Epoch 70/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7413 - val_loss: 0.5597 - val_accuracy: 0.7346
Epoch 71/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7403 - val_loss: 0.5578 - val_accuracy: 0.7365
Epoch 72/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7402 - val_loss: 0.5516 - val_accuracy: 0.7375
Epoch 73/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7397 - val_loss: 0.5555 - val_accuracy: 0.7362
Epoch 74/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7397 - val_loss: 0.5525 - val_accuracy: 0.7385
Epoch 75/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7404 - val_loss: 0.5517 - val_accuracy: 0.7370
Epoch 76/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7408 - val_loss: 0.5552 - val_accuracy: 0.7375
Epoch 77/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7410 - val_loss: 0.5548 - val_accuracy: 0.7378
Epoch 78/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7413 - val_loss: 0.5526 - val_accuracy: 0.7383
Epoch 79/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7415 - val_loss: 0.5522 - val_accuracy: 0.7380
Epoch 80/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7415 - val_loss: 0.5552 - val_accuracy: 0.7378
Epoch 81/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7407 - val_loss: 0.5548 - val_accuracy: 0.7378
Epoch 82/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7406 - val_loss: 0.5554 - val_accuracy: 0.7380
Epoch 83/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7403 - val_loss: 0.5507 - val_accuracy: 0.7388
Epoch 84/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7421 - val_loss: 0.5521 - val_accuracy: 0.7396
Epoch 85/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7414 - val_loss: 0.5537 - val_accuracy: 0.7370
Epoch 86/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7416 - val_loss: 0.5541 - val_accuracy: 0.7378
Epoch 87/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7408 - val_loss: 0.5513 - val_accuracy: 0.7357
Epoch 88/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5298 - accuracy: 0.7408 - val_loss: 0.5511 - val_accuracy: 0.7385
Epoch 89/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7410 - val_loss: 0.5540 - val_accuracy: 0.7383
Epoch 90/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7416 - val_loss: 0.5563 - val_accuracy: 0.7396
Epoch 91/150
684/684 [==============================] - 3s 4ms/step - loss: 0.5294 - accuracy: 0.7414 - val_loss: 0.5523 - val_accuracy: 0.7396
Epoch 92/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7414 - val_loss: 0.5574 - val_accuracy: 0.7378
Epoch 93/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5298 - accuracy: 0.7416 - val_loss: 0.5559 - val_accuracy: 0.7385
Epoch 94/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7412 - val_loss: 0.5547 - val_accuracy: 0.7383
Epoch 95/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7418 - val_loss: 0.5561 - val_accuracy: 0.7375
Epoch 96/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7420 - val_loss: 0.5574 - val_accuracy: 0.7385
Epoch 97/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7417 - val_loss: 0.5575 - val_accuracy: 0.7372
Epoch 98/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7414 - val_loss: 0.5555 - val_accuracy: 0.7385
Epoch 99/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7416 - val_loss: 0.5597 - val_accuracy: 0.7375
Epoch 100/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7423 - val_loss: 0.5571 - val_accuracy: 0.7372
Epoch 101/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7417 - val_loss: 0.5615 - val_accuracy: 0.7357
Epoch 102/150
684/684 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7421 - val_loss: 0.5578 - val_accuracy: 0.7378
Epoch 103/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7420 - val_loss: 0.5564 - val_accuracy: 0.7380
Epoch 104/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7421 - val_loss: 0.5563 - val_accuracy: 0.7388
Epoch 105/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7426 - val_loss: 0.5595 - val_accuracy: 0.7365
Epoch 106/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7423 - val_loss: 0.5586 - val_accuracy: 0.7380
Epoch 107/150
684/684 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7428 - val_loss: 0.5583 - val_accuracy: 0.7367
Epoch 108/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7419 - val_loss: 0.5588 - val_accuracy: 0.7388
Epoch 109/150
684/684 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7412 - val_loss: 0.5584 - val_accuracy: 0.7380
Epoch 110/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7419 - val_loss: 0.5633 - val_accuracy: 0.7383
Epoch 111/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7420 - val_loss: 0.5596 - val_accuracy: 0.7372
Epoch 112/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5293 - accuracy: 0.7419 - val_loss: 0.5621 - val_accuracy: 0.7378
Epoch 113/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7413 - val_loss: 0.5583 - val_accuracy: 0.7367
Epoch 114/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5286 - accuracy: 0.7429 - val_loss: 0.5658 - val_accuracy: 0.7370
Epoch 115/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7423 - val_loss: 0.5548 - val_accuracy: 0.7380
Epoch 116/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7423 - val_loss: 0.5570 - val_accuracy: 0.7380
Epoch 117/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5282 - accuracy: 0.7421 - val_loss: 0.5625 - val_accuracy: 0.7383
Epoch 118/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5277 - accuracy: 0.7421 - val_loss: 0.5629 - val_accuracy: 0.7380
Epoch 119/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7430 - val_loss: 0.5614 - val_accuracy: 0.7380
Epoch 120/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7425 - val_loss: 0.5613 - val_accuracy: 0.7370
Epoch 121/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5282 - accuracy: 0.7424 - val_loss: 0.5576 - val_accuracy: 0.7378
Epoch 122/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5280 - accuracy: 0.7427 - val_loss: 0.5594 - val_accuracy: 0.7388
Epoch 123/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7426 - val_loss: 0.5589 - val_accuracy: 0.7380
Epoch 124/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5284 - accuracy: 0.7424 - val_loss: 0.5596 - val_accuracy: 0.7375
Epoch 125/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7426 - val_loss: 0.5595 - val_accuracy: 0.7378
Epoch 126/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5278 - accuracy: 0.7425 - val_loss: 0.5570 - val_accuracy: 0.7378
Epoch 127/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5278 - accuracy: 0.7426 - val_loss: 0.5609 - val_accuracy: 0.7375
Epoch 128/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7413 - val_loss: 0.5610 - val_accuracy: 0.7380
Epoch 129/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5280 - accuracy: 0.7428 - val_loss: 0.5644 - val_accuracy: 0.7388
Epoch 130/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5278 - accuracy: 0.7417 - val_loss: 0.5616 - val_accuracy: 0.7380
Epoch 131/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7428 - val_loss: 0.5671 - val_accuracy: 0.7365
Epoch 132/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7418 - val_loss: 0.5592 - val_accuracy: 0.7385
Epoch 133/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5274 - accuracy: 0.7423 - val_loss: 0.5663 - val_accuracy: 0.7372
Epoch 134/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7426 - val_loss: 0.5675 - val_accuracy: 0.7375
Epoch 135/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7426 - val_loss: 0.5654 - val_accuracy: 0.7375
Epoch 136/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7426 - val_loss: 0.5635 - val_accuracy: 0.7383
Epoch 137/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5277 - accuracy: 0.7416 - val_loss: 0.5767 - val_accuracy: 0.7375
Epoch 138/150
684/684 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7428 - val_loss: 0.5619 - val_accuracy: 0.7354
Epoch 139/150

In [42]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5655 - accuracy: 0.7304 - 327ms/epoch - 1ms/step
Loss: 0.5655031800270081, Accuracy: 0.7303789854049683

In [44]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from google.colab import files
nn.save('AlphabetSoupCharity.h5')
files.download('AlphabetSoupCharity.h5')